<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Página Inicial</title>
  {{ style('style') }}
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') }}
  {{ script('https://code.jquery.com/jquery-3.3.1.slim.min.js') }}
</head>
<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-10 shadow bg-white mt-5 mx-5 p-3 rounded offset-md-4">
          <div>
            {{--
              This tag let us know if the current user is logged in or not.

              ref: http://adonisjs.com/docs/4.0/views#_loggedin
              ref: http://adonisjs.com/docs/4.0/authentication#_loggedin
            --}}
            @loggedIn
              <h1> Bem vindo, {{ auth.user.nomeUsuario }} </h1></br>
              <form method="GET" action="logout">{{ csrfField() }}<button id="sair" name="sair" type="Submit" class="btn btn-primary">Sair</button></form></br>
              @if(auth.user.idPerfil==1)
              <h2>Pendências de Cadastro de Usuário</h2></br>
              <div>
                @if(flashMessage('successmessage'))
                  <span class="alert alert-success p-1">{{ flashMessage('successmessage') }}</span>
                @endif
              </div>
                <table>
                  @each(user in obj.up)
                    <tr>
                    <div>Nome do Usuário: {{user.nomeUsuario}}</div>
                    <div>Email: {{user.email}}</div>
                    <div>Matrícula: {{user.matricula}}</div>
                    <div>Perfil: {{user.nomePerfil}}</div>
                    <div>Interno? {{ user.ehInterno}}</div>
                    <div>Status: {{ user.statusUsuario}}</div>
                    <div><form method="POST" action="/home/confirma/{{user.id}}?_method=PUT">{{ csrfField() }}<button id="aceitar-{{user.id}}" name="aceitar-{{user.id}}" type="Submit" class="btn btn-primary">Aceitar</button></form></div>
                    <div><form method="POST" action="/home/remove/{{user.id}}?_method=PUT">{{ csrfField() }}<button id="recusar-{{user.id}}" name="recusar-{{user.id}}" type="Submit" class="btn btn-primary">Recusar</button></form></div>
                    </tr>
                  @endeach
                </table>
              @endif
              @if(auth.user.idPerfil==2)
                @if(obj.de.idEstudante != auth.user.idPerfil==2)
                  <h2>Agendamento de Defesa</h2></br>
                  <form method="POST" action="home/cria/defesa">
                    {{ csrfField() }}
                    <div>
                      @if(flashMessage('successmessage'))
                        <span class="alert alert-success p-1">{{ flashMessage('successmessage') }}</span>
                      @endif
                    </div> 
                    <div class="form-group"> 
                      <label for="dataDefesa">Data da Defesa</label>
                      <input type="date" class="form-control" id="dataDefesa" name="dataDefesa" value="{{old('dataDefesa','')}}">
                        {{ elIf('<span class=text-danger>$self</span>', getErrorFor('dataDefesa'), hasErrorFor('dataDefesa')) }}
                    </div>
                    <div class="form-group">
                      <label for="local">Local da Defesa</label>
                      <input type="text" class="form-control" id="local" name="local" value="{{old('local','')}}" placeholder="Insira o endereço ou link">
                        {{ elIf('<span class=text-danger>$self</span>', getErrorFor('local'), hasErrorFor('local')) }}
                    </div>
                    <div class="form-group">
                      <label for="titulo">Título</label>
                      <input type="text" class="form-control" id="titulo" name="titulo" value="{{old('titulo','')}}" placeholder="Insira o título do Trabalho">
                        {{ elIf('<span class=text-danger>$self</span>', getErrorFor('titulo'), hasErrorFor('titulo')) }}
                    </div>
                    <div class="form-group">
                      <label for="descricao">Descrição</label></th>
                      <input type="text" class="form-control" id="descricao" name="descricao" value="{{old('descricao','')}}">
                        {{ elIf('<span class=text-danger>$self</span>', getErrorFor('descricao'), hasErrorFor('descricao')) }}
                    </div>
                    <div class="form-group">
                      <label for="tags">Tags</label></th>
                      <input type="text" class="form-control" id="tags" name="tags" value="{{old('tags','')}}" placeholder="Insira palavras-chave">
                        {{ elIf('<span class=text-danger>$self</span>', getErrorFor('tags'), hasErrorFor('tags')) }}
                    </div>
                    <div class="form-group">
                      <button type="Submit" class="btn btn-primary">Criar Defesa</button></br>
                    </div>
                  </form>
                @endif
                  @each(defesa in obj.de)
                    <div>Data: {{defesa.dataDefesa}}</div>
                    <div>Local: {{defesa.local}}</div>
                    <div>Título: {{defesa.titulo}}</div>
                    <div>Descrição: {{defesa.descricao}}</div>
                    <div>Tags: {{defesa.tags}}</div>
                    <div>Status: {{defesa.statusDefesa}}</div>
                    <div>Professor Orientador: {{defesa.nomeOrientador}}</div>
                    <div>Professor Convidado A: {{defesa.nomeConvidadoA}}</div>
                    <div>Professor Convidado B: {{defesa.nomeConvidadoB}}</div>
                    <button type="Submit" class="btn btn-primary">Editar</button>
                  @endeach
              @endif
            @endloggedIn
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
