<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Página Inicial</title>
  {{ style('style') }}
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') }}
  {{ script('https://code.jquery.com/jquery-3.3.1.slim.min.js') }}
</head>
<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-10 shadow bg-white mt-5 mx-5 p-3 rounded offset-md-4">
          <div>
            {{--
              This tag let us know if the current user is logged in or not.

              ref: http://adonisjs.com/docs/4.0/views#_loggedin
              ref: http://adonisjs.com/docs/4.0/authentication#_loggedin
            --}}
            @loggedIn
              <h1> Bem vindo, {{ auth.user.nomeUsuario }} </h1></br>
              @if(auth.user.idPerfil==1)
              <h2>Pendências de Cadastro de Usuário</h2></br>
                <table>
                  @each(user in obj.up)
                    <tr>
                    <th>{{user.nomeUsuario}}</th>
                    <th>{{user.email}}
                    <th>{{user.matricula}}</th>
                    <th>{{user.nomePerfil}}</th>
                    <th>{{ user.statusUsuario}}</th>
                    <th><form method="POST" action="home/confirma/{{user.id}}?_method=PUT">{{ csrfField() }}<button type="Submit" class="btn btn-primary">Aceitar</button></form></th>
                    <th><form method="POST" action="home/remove/{{user.id}}?_method=PUT">{{ csrfField() }}<button type="Submit" class="btn btn-primary">Recusar</button></form></th>
                    </tr>
                  @endeach
                </table>
              @endif
              @if(auth.user.idPerfil==2)
                <h2>Agendamento de Defesa</h2></br>
                <div>
                  @if(flashMessage('successmessage'))
                    <span class="alert alert-success p-1">{{ flashMessage('successmessage') }}</span>
                  @endif
                </div> 
                  <div class="form-group"> 
                    <label for="dataDefesa">Data da Defesa</label>
                    <input type="text" class="form-control" id="local" name="local" value="{{old('local','')}}"  placeholder="Insira o endereço ou link">
                      {{ elIf('<span class=text-danger>$self</span>', getErrorFor('local'), hasErrorFor('local')) }}
                  </div>
                  <div class="form-group">
                    <label for="local">Local da Defesa</label>
                    <input type="date" class="form-control" id="dataDefesa" name="dataDefesa" value="{{old('dataDefesa','')}}">
                      {{ elIf('<span class=text-danger>$self</span>', getErrorFor('dataDefesa'), hasErrorFor('dataDefesa')) }}
                  </div>
                  <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" value="{{old('titulo','')}}" placeholder="Insira o título do Trabalho">
                      {{ elIf('<span class=text-danger>$self</span>', getErrorFor('titulo'), hasErrorFor('titulo')) }}
                  </div>
                  <div class="form-group">
                    <label for="descricao">Descricao</label></th>
                    <input type="text" class="form-control" id="descricao" name="descricao" value="{{old('descricao','')}}">
                      {{ elIf('<span class=text-danger>$self</span>', getErrorFor('descricao'), hasErrorFor('descricao')) }}
                  </div>
                  <div class="form-group">
                    <label for="tags">Tags</label></th>
                    <input type="text" class="form-control" id="tags" name="tags" value="{{old('tags','')}}" placeholder="Insira palavras-chave">
                      {{ elIf('<span class=text-danger>$self</span>', getErrorFor('tags'), hasErrorFor('tags')) }}
                  </div>
                  <div class="form-group">
                    <label for="nomeOrientador">Orientador</label></th>
                    <input type="text" class="form-control" id="nomeUsuario" name="nomeUsuario" value="{{old('nomeUsuario','')}}" placeholder="Selecione um orientador">
                      {{ elIf('<span class=text-danger>$self</span>', getErrorFor('nomeUsuario'), hasErrorFor('nomeUsuario')) }}
                  </div>
                  <div class="form-group">
                    <button type="Submit" class="btn btn-primary">Aceitar</button>
                  </div>
                <table>
                  @each(defesa in obj.up)
                    <tr>
                    <th>{{defesa.dataDefesa}}</th>
                    <th>{{defesa.local}}
                    <th>{{defesa.titulo}}</th>
                    <th>{{defesa.descricao}}</th>
                    <th>{{defesa.tags}}</th>
                    <th>{{defesa.nomeOrientador}}</th>
                    </tr>
                    <th><button type="Submit" class="btn btn-primary">Editar</button></form></th>
                  @endeach
                </table>
              @endif
            @endloggedIn
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
